SECRET_KEY=changez-cette-cle-plus-tard
DATABASE_URL=sqlite:///labo_academy.db

ADMIN_USERNAME=VOTRE_NOM_D_UTILISATEUR_ADMINISTRATEUR
ADMIN_EMAIL=VOTRE_MOT_DE_PASSE_ADMINISTRATEUR
ADMIN_PASSWORD=VOTRE_MOT_DE_PASSE_ADMINISTRATEUR_ENTRE_DOUBLE_COTES