<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription — LABO ACADEMY</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Inter:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css') }}"
    />
  </head>
  <body>
    <div class="carte-connexion">
      <div class="volet-formulaire">
        <img
          src="{{ url_for('static', filename='images/labo-academy.jpg') }}"
          alt="Logo LABO ACADEMY"
          class="w-50 h-50 align-self-center mb-2"
        />

        <div class="message-accueil">
          <h2>Bienvenue sur LABO ACADEMY</h2>
          <p>
            Inscrivez vous et demarrer votre apprentissage ainsi que votre
            remise a niveau avec des experts du domaine
          </p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for categorie, message in messages %}
        <div
          class="alert {{ 'alert-success' if categorie == 'success' else 'alert-danger' }} py-2 mb-3"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}

        <form method="POST" action="{{ url_for('auth.register') }}">
          <div class="mb-3">
            <label for="champUsername" class="form-label">Nom Complet</label>
            <input
              type="text"
              name="username"
              class="form-control"
              id="champUsername"
              placeholder="Jean Dupont"
              required
            />
          </div>

          <div class="mb-3">
            <label for="champEmail" class="form-label">Adresse email</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="champEmail"
              placeholder="nom@exemple.com"
              required
            />
          </div>

          <div class="mb-2">
            <label for="champMotDePasse" class="form-label">Mot de passe</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="champMotDePasse"
              placeholder="••••••••"
              required
            />
          </div>

          <div class="mb-2">
            <label for="champConfirmMotDePasse" class="form-label"
              >Confirmer le Mot de passe</label
            >
            <input
              type="password"
              name="confirm_password"
              class="form-control"
              id="champConfirmMotDePasse"
              placeholder="••••••••"
              required
            />
          </div>

          <button type="submit" class="btn btn-inscription">S'inscrire</button>
        </form>

        <p class="separation-bas">
          Deja un compte ?
          <a href="{{ url_for('main.login') }}">Se Connecter</a>
        </p>
      </div>

      <div class="volet-image d-none d-md-block">
        <img
          src="{{ url_for('static', filename='images/image2-labo.jpg')}}"
          alt="Étudiants célébrant leur réussite académique"
        />
        <div class="legende">
          <p class="font-titre">
            <span class="reperes">DEVENEZ PLUS FORT</span>
          </p>
          <p>
            Rejoignez une communauté engagée dans la réussite académique et
            professionnelle.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
